form {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form_line {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type=text], input[type=email], input[type=tel] {
    width: 200px;
    height: 25px;
    padding: 10px;
    border: none;
    border-bottom: #C38820 1px solid;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
    outline: none;
    border: none;
    border-bottom: black 1px solid;
}

textarea {
    width: 410px;
    padding: 10px;
    border:none;
    border-bottom: #C38820 1px solid;

}

input[type=submit] {
    width: 80px;
    padding: 10px;
    background-color: #C38820;
    color: white;
    border: none;
    border-radius: 5px;
}

::placeholder {
    color: #C38820;
    font-family: "Barlow";
}