html {
    font-family: "Barlow";
    background-image: url(../images/cellules.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify;
    font-size: 18px;
    color: #242424;
    padding: 15px;
    min-height: 100vh;
}

header,
footer {
    width: 100%;
    margin: 40px 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    height: 30vh;
}

header img {
    height: 100%;
    padding: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}

.btn-nav {
    text-decoration: none;
    color: #C38820;
    padding: 0.5% 3%;
    margin: 0%;
    transition: 1s;
    text-align: start;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    transition: 0.2s;
}

.btn-nav:hover {
    border-bottom: 2px solid #C38820;
    margin-bottom: 5px;
}


.btn-nav:active {
    border-bottom: 2px solid #C38820;
    margin-bottom: 5px;
    font-weight: bold;
}

h1 {
    color: #C38820;
    font-family: 'IM Fell English SC', serif;
    font-size: 35px;
}

h2 {
    color: hsla(38, 72%, 45%, 0.9);
    font-family: 'Oswald', sans-serif;
}

.footer_nav {
    margin: auto;
}

@media screen and (max-width: 1200px) {
    html {
        background-image: url(../images/cellules-mobile.png);
        background-size: contain;
        background-repeat: repeat;
        font-size: 22px;
    }
    header {
        height: 30%;
    }

    header,
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .btn-nav {
        font-size: 25px;
    }

    header img {
        width: 300px;
    }
}