#tableau-evolution {
    font-size: 1.1em;
    width: 95%;
    padding: 3%;
    margin: auto;
}

caption {
    padding:0.5em;
    font-weight: 500;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

tr {
    border-bottom: 1px solid #C38820;
}